{% extends 'email/user.edited.email.html.twig' %}

{% block emailContent %}
<pre style="color: #333; font-size: 16px">

<<<<<<< HEAD
  Hi,<strong>{{ data.sende }}</strong> Invited you to join <strong>Testing Ministry.</strong>
=======
  Hi,<strong>{{ data.sender }}</strong> Invited you to join <strong>Testing Ministry.</strong>
>>>>>>> a9d07b41b7066d281164ab05078ae65f83ea54cc

  Join us and start receiving assignments from your instructor,

  collaborate.

  Click this link to start your registration  <a href="{{ data.web_host }}">Registration</a>

  We are happy to have you.


  Regards,
  Testing Ministry Team

</pre>
{% endblock %}
